          <div >
              <form >
                  <mat-form-field fxFlex>
                    <input matInput #alias placeholder="Table" name="alias" [(ngModel)]="chunk.alias"  [readonly]="alias_readonly" />
                  </mat-form-field>
                  <button (click)="alias_readonly=!alias_readonly;">

                    <mat-icon >edit</mat-icon>
                  </button>
                  <!-- <br>
                  {{chunk.alias}} -->
                  <br>
                  <mat-form-field>
                    <input matInput #descrizione placeholder="Descrizione" name="descrizione" [(ngModel)]="chunk.descrizione" [readonly]="descrizione_readonly" />
                  </mat-form-field>
                  <button (click)="descrizione_readonly=!descrizione_readonly;">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <br>

                  <pre style="white-space: pre-wrap;" class="sql" (keydown)="keyHandler($event);" >
                      <code class="sql" contenteditable="true"  style="display: inline-block; width: 100%">SELECT * FROM asfjkshjkf</code>
                  </pre>

                  <div id="mytxt" #el  contenteditable="true" (click)='getNearText($event);'  style="white-space: pre-wrap;"  class="sql">
                      {{chunk.query}}
                      SELECT *FROM TableRef 
                  </div>
                  
                <fieldset style="white-space: pre-wrap;">
                  {{createChunk()}}
                </fieldset>
              </form>
              <mat-toolbar>
                  <mat-toolbar-row>
                    <button>
                      <mat-icon>extension</mat-icon>
                    </button>
                    <button>
                      <mat-icon>playlist_play</mat-icon>
                     </button>
                     
                     <button>
                        <mat-icon>playlist_add</mat-icon>
                       </button>
                  </mat-toolbar-row>
                </mat-toolbar>
            </div>
