            <div fxLayout="column">
              <form fxLayout="column" fxFlex="100">
                  <mat-form-field fxFlex>
                    <input matInput #alias placeholder="Table" name="alias" [(ngModel)]="chunk.alias"  readonly="true" />
                  </mat-form-field>
                  <mat-icon>edit</mat-icon>
                  <!-- <br>
                  {{chunk.alias}} -->
                  <br>
                  <mat-form-field>
                    <input matInput #descrizione placeholder="Descrizione" name="descrizione" [(ngModel)]="chunk.descrizione" (keyup)="0"/>
                  </mat-form-field>
                  <mat-icon>edit</mat-icon>
                  <br>
                  <div id="mytxt" #el contenteditable="true" (click)='getNearText($event);'>
                    <b>SELECT</b> *
                    <b>FROM</b> TableRef
                  </div>

                  <textarea #chunkRaw type="text"style="width:100%; height:100%" class="chunk"  >
        SELECT *
        FROM TableRef
                  </textarea>
                <fieldset style="white-space: pre-wrap;">
                  {{createChunk()}}
                </fieldset>
              </form>
            </div>
